/* -----------------------------------------------------------------------------
// This file includes deliberate errors in order for you to verify that
// Stylelint and EditorConfig are working properly. If both tools are, indeed,
// working correctly, then you’d see various errors in your editor about
// indentation and violations of CSS syntax. When you save this file, your
// editor should strip all excess newlines and whitespace characters from the
// file. If both of these events occur, then Stylelint and EditorConfig are
// working correctly.
//
// DON’T PROCEED UNTIL YOU’RE SURE STYLELINT AND EDITORCONFIG ARE WORKING RIGHT
// -------------------------------------------------------------------------- */
body {
  background: #fff;
  color: #111;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  overflow: hidden;
  line-height: 1.5;
}

header{
  font-weight: 600;
  background: cornflowerblue;
  color: #fff;
  padding: 0.6rem;
  text-align: center;
  font-size: 1.5rem;
}

.carousel {
  top: -30px;
  text-align: center;
  position: relative;
  width: 700px;
  margin: 2rem auto;
}

.carousel-navigation {
  top: 200px;
  right: 35px;
  width: 90%;
  z-index: 10;
  display: flex;
  position: absolute;
  justify-content: space-between;
}

.slide img {
  justify-content: center;
  position: relative;
  top: -10px;
  width: 640px;
  max-height: 370px;
  margin-bottom: 1rem;
}

.slide h2 {
  font-weight: 600;
  position: relative;
  margin: 10px 0;
  font-size: 1.5rem;
  color: #000;
}

.slide h3 {
  font-weight: 600;
  top: -27px;
  position: relative;
  padding-top: -4px;
  padding-bottom: 8px;
  color: cornflowerblue;
}

.slide h4 {
  font-weight: 600;
  position: relative;
  top: 110px;
}

.slide p {
  text-align: center;
  padding-bottom: 4px;
  position: relative;
  top: -35px;
  max-width: 150%;
  max-height: 100px;
  font-size: 1rem;
  color: #000;
}
